
.card-container {
	margin : 3vw 2vw 1vw 2vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2vw;
}
.card {
	width: 45vw;
	height: 70vw;
	border: solid 0;
	border-radius: 10px;
	box-shadow: 5px 5px 5px 5px rgba(22, 41, 56, 0.18);
	padding-top: 10px;
}
.card-body {
	flex-grow: 1 !important;
	padding: 10px;
	display        : flex !important;
	flex-direction : column !important;
	justify-content: space-between ;
}

.vertical-card .card-body .card-title {
	font-family : "Open Sans", "Roboto", sans-serif !important;
	font-size   : 15px !important;
	margin-bottom : 10px;
	padding: 0 10px;
}

.card-body .card-text {
	font-family : "IBM Plex Sans", sans-serif;
	font-size   : 13px;
	margin: auto 0;
}
.price {
	margin-bot: 15px;
	padding: 0 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
}
.innerCard {
	width: 100%;
	height: 100%;
	display        : flex !important;
	flex-direction : column !important;
}
