h1 {
	text-align: center;
}

.header {
	font-family: "Open Sans", "Roboto", sans-serif !important;
	font-style: normal !important;
}
.description {
	font-family: "IBM Plex Sans", sans-serif;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src:         local('Open Sans');
	src:         url('font/OpenSans-Regular.ttf');
}

@font-face {
	font-family: 'IBM Plex Sans';
	src:         local('IBM Plex Sans');
	src:         url('font/IBMPlexSans-Regular.ttf');
}

@font-face {
	font-family: 'Roboto';
	src:         local('Roboto');
	src:         url('font/Roboto-Regular.ttf');
}


.header {
	font-family: 'Open Sans', 'Roboto', sans-serif;
	font-style:  normal;
}

.description {
	font-family: 'IBM Plex Sans', sans-serif;
	font-style:  normal;
}