h1 {
	text-align: center;
}

.header {
	font-family: "Open Sans", "Roboto", sans-serif !important;
	font-style: normal !important;
}
.description {
	font-family: "IBM Plex Sans", sans-serif;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src:         local('Open Sans');
	src:         url('font/OpenSans-Regular.ttf');
}

@font-face {
	font-family: 'IBM Plex Sans';
	src:         local('IBM Plex Sans');
	src:         url('font/IBMPlexSans-Regular.ttf');
}

@font-face {
	font-family: 'Roboto';
	src:         local('Roboto');
	src:         url('font/Roboto-Regular.ttf');
}

body {
	background-image: url("assets/background.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.nav-bar {
	position: sticky;
	top: 0;
}

.navbar {
	background-image: linear-gradient(to right, #fff, #fff, #f8f7ff, #f8f7ff, #b8b8ff, #9381ff);
}

.navbar-brand img {
	height: 40px;
	padding-left: 20px;
}

.navbar-nav li {
	padding: 0 10px;
}

.navbar-nav li a {
	color: #f8f7ff !important;
	font-weight: 600;
}

@media (max-width: 991.99px) {
	.navbar-nav li a {
		color: #9381ff !important;
		font-weight: 600;
	}
}

.navbar-toggler {
	border: 0 solid transparent !important;
	outline: none;
}

#banner {
	background-image: linear-gradient(to top right, #fff, #f8f7ff, #b8b8ff, #9381ff);
	opacity: 100%;
	padding-top: 3%;
	text-align: center;
}

.img-fluid {
	margin-bottom: 500px;
}

.bottom-img {
	width: 100%;
}